html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #ffffff;
}

main {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
}

section {
  margin: 3rem 0rem;
}


footer {
  grid-row-start: 3;
  grid-row-end: 4;
}

