html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #f3f3f1;
}

main {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
}

footer {
  grid-row-start: 3;
  grid-row-end: 4;
}

