/* Colors */
:root {
    /* Colour Palette */
    --clr-neutral-800: #000000;
    --clr-neutral-700: #222222;
    --clr-neutral-600: #444444;
    --clr-neutral-500: #cccccc;
    --clr-neutral-100: #ffffff; 

    --clr-red: #fa5252;
    --clr-blue: #228be6;
    --clr-yellow: #fab005;
    --clr-green: #40c057;
    --clr-purple: #7950f2;

    /* Font Family */
    --ff-regular: "Inter", Helvetica, Arial, sans-serif;

    /* Font Size */
    --fs-regular: 1rem;
    --fs-medium: 1.7rem;
    --fs-large: 2rem;

    /* Font Weight */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    /* Spacer */
    --spacer-300: 0.5rem;
    --spacer-400: 1rem;
    --spacer-500: 2rem;
  }
  