/* Colors */
:root {
    /* Colour Palette */
    --clr-black: #1a1a1a;
    --clr-white: #f3f3f1;

    /* Font Family */
    --ff-regular: "Inter", Helvetica, Arial, sans-serif;

    /* Font Size */
    --fs-regular: 1rem;
    --fs-medium: 1.7rem;
    --fs-large: 2rem;

    /* Font Weight */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    /* Spacer */
    --spacer-300: 0.5rem;
    --spacer-400: 1rem;
    --spacer-500: 2rem;
  }
  