.dashboard.content-grid {
    --padding-inline: 2rem;
    --content-max-width:  150rem;
    --breakout-max-width: 180rem;
}

.dashboard__content {
    border: 1px solid red;

}

@media ( width > 1280px ) {
    .dashboard__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

