.dashboard.content-grid {
    --padding-inline: 2rem;
    --content-max-width:  50rem;
    --breakout-max-width: 60rem;
}

.dashboard__container {
    display: grid;
    gap: 1rem;
}
.dashboard__add-btn {
    width: 54px;
    height: 54px;
    background-color: var(--clr-neutral-700);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

.dashboard__add-btn:hover {
    background-color: var(--clr-neutral-600);
}

.dashboard__add-icon {
    font-size: 32px;
    color: white;
}
/* 
@media ( width > 1280px ) {
    .dashboard__container {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        gap: 1rem;
    }
}
 */
