header nav {
    display: flex;
    background-color: #FFFFFF;
    margin: 2rem 0rem;
    padding: 1.5rem 2rem;
    border-radius: 5rem;
    gap: 4rem;
    align-items: center;
    justify-content: space-between;

    a {
      color: black;
    }

    .brandmark__container {
      display: flex;
      gap: 0.5rem;
      align-items: center;
  
      p {
        font-size: 1.5rem;  
      }
      
    }

    .button {
      display: flex;
      gap: 1rem;

      a {
        padding: 0.8rem 1.2rem;
        border-radius: 5rem;
        transition: background-color 0.3s ease; 

        &:hover {
          background-color: #f2f2f2;
        }
      }

      a.button--signup {
        color: white;
        background-color: #1E2330;
        transition: background-color 0.3s ease; 

        &:hover {
          background-color: #434750;
        }
      }
    }
  }
  