header nav.base-header {
  display: flex;
  background-color: var(--clr-neutral-100);
  margin: 2rem 0rem;
  padding: 1rem 2rem;
  border-radius: 5rem;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;

  .button {
    display: flex;
    gap: 1rem;

    a {
      color: var(--clr-neutral-800);
      padding: 0.8rem 1.2rem;
      border-radius: 5rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #efefef;
      }
    }

    a.button--signup {
      color: white;
      background-color: var(--clr-neutral-800);
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--clr-neutral-600);
      }
    }
  }
}

header nav.auth-header {
  background-color: var(--clr-neutral-100);
  border-bottom: 1px solid rgb(223, 223, 223);
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}